---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { MessageCircle } from "lucide-react";
import "@/styles/global.css";
import { CarouselDemo } from "@/components/Carousel/CarouselDemo";
const images = [
  "/cosecha1.jpg?height=300&width=300",
  "/cosecha2.jpeg?height=300&width=300",
  "/cosecha3.JPG?height=300&width=300",
  "/cosecha4.jpg?height=300&width=300",
];

const title = "Cosecha";
---

<Layout title=`Servicios | ${title}`>
  <div class="h-[120px] header-blur w-full z-20 fixed top-0"></div>
  <section class="w-[95%] mx-auto mt-28 mb-28">
    <h1
      class="text-[40px] font-semibold text-center text-logo-blue underline"
      transition:name=`${title}-title`
    >
      {title}
    </h1>
    <div class="mt-10 w-full h-[300px]">
      <img
        transition:name="img-cosecha"
        class="object-center object-cover h-full w-full rounded-md"
        src="/cosechadoras.JPG"
        alt={title}
      />
    </div>
    <!-- ACA -->
    <div
      transition:animate="fade"
      class="mt-10 flex flex-col md:flex-row gap-10"
    >
      <!-- ACA -->
      <div class="w-full md:w-2/3 flex flex-col justify-between">
        <div class="flex flex-col gap-6">
          <h2 class="text-[2rem] font-normal tracking-tight">
            Desde granos finos hasta cultivos especiales
          </h2>
          <p class="text-gray-500 text-lg">Para este fin disponemos de:</p>
          <ul class="text-gray-500 text-lg space-y-2">
            <li>
              <strong>Cosechadora CLAAS LEXION 570 C</strong>: con plataforma
              Piersanti Draper trigo/soja de 35 pies de corte
            </li>
            <li>
              <strong>Cosechadora Challenger 660 DT</strong>: con plataforma
              Draper de 30 pies de corte.
            </li>
            <li>
              <strong>Cosechadora J. Deere 9770</strong>: con plataforma de 35
              pies de corte.
            </li>
            <li>
              <strong>Cosechadora New Holland 6.80</strong>: con plataforma de
              35 pies, año 2022.
            </li>
            <li>
              <strong>Maiceros y girasoleros </strong>que se adaptan a distintas
              distancias entre surcos.
            </li>
            <li>
              <strong>Mono-tolvas</strong> con balanzas Magris.
            </li>
          </ul>
        </div>

        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=542392480555&text=%C2%A1Hola!%2C%20te%20hago%20una%20consulta."
          ><Button
            className="justify-center border-logo-blue text-logo-blue hover:bg-logo-blue hover:text-white flex-shrink-0 flex-grow-0 max-w-[200px]"
            client:load
            variant={"outline"}
          >
            <div class="flex items-center gap-4">
              Saber más <MessageCircle size={16} />
            </div>
          </Button></a
        >
      </div>
      <!-- ACA -->
      <div class="w-full md:w-1/3">
        <CarouselDemo client:load images={images} />
      </div>
    </div>
  </section>
</Layout>
