---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { MessageCircle } from "lucide-react";
import "@/styles/global.css";
import { CarouselDemo } from "@/components/Carousel/CarouselDemo";
const images = [
  "/pulverizacion_aerea2.jpg?height=300&width=300",
  "/pulverizacion_aerea3.jpg?height=300&width=300",
  "/pulverizacion_aerea4.jpg?height=300&width=300",
  "/pulverizacion_aerea5.jpg?height=300&width=300",
];

const title = "Pulverización aérea";
---

<Layout title=`Servicios | ${title}`>
  <div class="h-[120px] header-blur w-full z-10 fixed top-0"></div>
  <section class="w-[95%] mx-auto mt-28 mb-28">
    <h1
      class="text-[40px] font-semibold text-center text-logo-blue underline"
      transition:name=`${title}-title`
    >
      {title}
    </h1>
    <div class="mt-10 w-full h-[300px]">
      <img
        transition:name="img-pulverizacion_aerea"
        class="object-center object-cover h-full w-full rounded-md"
        src="/pulverizacion_aerea.jpg"
        alt={title}
      />
    </div>
    <div
      transition:animate="fade"
      class="mt-10 grid grid-cols-[1fr_2fr] gap-10 items-center justify-start"
    >
      <CarouselDemo client:load images={images} />

      <div class="h-full inline-flex flex-col justify-between">
        <div class="flex flex-col gap-6">
          <h2 class="text-[2rem] font-normal tracking-tight">
            Maximiza tus rendimientos con una pulverización aérea precisa y
            oportuna.
          </h2>
          <p class="text-gray-500 text-lg">
            Aplicación aérea de insecticidas, herbicidas, funguicidas,
            acaricidas y fertilizantes líquidos.
          </p>
        </div>

        <Button
          className="justify-center border-logo-blue text-logo-blue hover:bg-logo-blue hover:text-white flex-shrink-0 flex-grow-0 max-w-[200px]"
          client:load
          variant={"outline"}
        >
          <div class="flex items-center gap-4">
            Saber más <MessageCircle size={16} />
          </div>
        </Button>
      </div>
    </div>
  </section>
</Layout>
