---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/Navbar/NavBar.astro";

import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  image?: string;
  canonicalURL?: URL | string;
  publishedDate?: string;
  ogType?: string;
}

const {
  title = "La Argentina SRL | Servicios Agrícolas de Calidad en Trenque Lauquen",
  description = "Ofrecemos servicios agropecuarios integrales incluyendo siembra, cosecha, pulverización y más. Más de 20 años de experiencia en el sector agrícola argentino.",
  image,
  canonicalURL,
  publishedDate,
  ogType,
} = Astro.props;

import "@/styles/global.css";

const schemaData = {
  "@context": "https://schema.org",
  "@type": "Organization",
  name: "La Argentina SRL",
  url: Astro.site?.toString(),
  logo: new URL("/laargentinaicono.ico", Astro.site).toString(),
  description: description,
  address: {
    "@type": "PostalAddress",
    addressLocality: "Trenque Lauquen",
    addressRegion: "Buenos Aires",
    postalCode: "6400",
    addressCountry: "AR",
  },
  contactPoint: {
    "@type": "ContactPoint",
    telephone: "+54-2392480555",
    contactType: "customer service",
  },
  sameAs: [
    "https://www.facebook.com/Argentinagrosrl/?locale=es_LA",
    "https://www.instagram.com/argentinagrosrl/",
    "https://www.youtube.com/@argentinagrodetrenquelauqu8241",
  ],
};
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      canonicalURL={canonicalURL}
      publishedDate={publishedDate}
      ogType={ogType}
    />
    <ClientRouter />

    <script type="application/ld+json" set:html={JSON.stringify(schemaData)} />

    <meta name="google-site-verification" content="tu-código-de-verificación" />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
  </head>
  <body>
    <div id="app" class="relative">
      <header class="fixed top-0 w-full [grid-area:header] z-40">
        <NavBar />
      </header>
      <main class="[grid-area:main]">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  #app {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
</style>
